doctype 5
html(lang="en")
  head
  title #{APP_TITULO} - Autenticacion
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
  script(src="libs/bootstrap/js/bootstrap.min.js")
  link(rel="stylesheet", href="libs/bootstrap/css/bootstrap.css")
  body
    h1 #{APP_TITULO}

    h3 #{str.autenticacion}  

    